.footer-content{
	display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.section-footer{
	background: #131316;
}
.footer-inner{
	font-family: 'Conv_Roboto-Regular';
    font-size: 13px;
    color: #ffe600;
}
.social-colums{
	list-style: none;
	display: flex;
}
.social-colums-item{
	padding-left: 25px;
	a{
		text-decoration: none;
		outline: none;
		i{
			color: #fff;
		}
	}
	a:focus{
		outline: none;
	}
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-twitter:hover{
    color: #0084b4;
}
.fa-dribbble:hover{
    color: #cb2027;
}
.fa-google-plus:hover{
    color: #dd4b39;
}
.fa-youtube:hover{
    color: #bb0000;
}
@media screen and (max-width: 500px){
	.footer-content{
		flex-direction: column-reverse;
        align-items: center;
	}
	.social-colums{
		padding: 0px;
	}
}